# Top-most EditorConfig file
root = true

# Sets the formatting conventions for the project
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

# Override for Markdown files
[*.md]
trim_trailing_whitespace = false
